<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {% seo %}
  <link rel="icon" href="{{ '/favicon.ico' | relative_url }}" sizes="any">
  <link rel="icon" href="{{ '/assets/images/icon.png' | relative_url }}" type="image/png">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Caveat:wght@400;600&family=Saira+Stencil+One&family=Special+Elite&family=Work+Sans:wght@400;500;600;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}">
  {% feed_meta %}
  <script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": "NGO",
      "name": "{{ site.title }}",
      "description": "{{ site.description }}",
      "url": "{{ site.url }}{{ site.baseurl }}/",
      "logo": "{{ site.url }}{{ site.baseurl }}{{ site.seo.image }}",
      "image": "{{ site.url }}{{ site.baseurl }}{{ site.seo.image }}",
      "email": "{{ site.email }}",
      "address": {
        "@type": "PostalAddress",
        "streetAddress": "Bois Blancs",
        "addressLocality": "Lille",
        "addressRegion": "Hauts-de-France",
        "postalCode": "59000",
        "addressCountry": "FR"
      },
      "areaServed": "Bois Blancs, Lille"
    }
  </script>
</head>
